/*Base css*/
body  *{
  padding: 10px;
  background: #4B4063;
  color: #EDDBC4;
}
.header, .body, .footer {
  background: #898298;
}
.contentSwitch p {
  display: table-cell;
  vertical-align: middle;
  padding: 10px
}
.contentSwitch {
  height: 10%;
}

/*Base css ends*/
/*Mainpage css start*/
.mainContainer *  {

  display: grid;
}
.mainContainer {
  text-align: center;
}
.header, .footer {
  border: 1px solid #EDDBC4;;
}
.body {
  display: grid;
  border-left: 1px solid #EDDBC4;
  border-right: 1px solid #EDDBC4;
  margin: 1em;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.navBarLi  {
  border: 1px solid #EDDBC4;
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  grid-column-end: -1;
}
li {

  align-items: center;
}
[class^=”contentDiv”] {
  background: #4B4063;
  border: 1px solid #898298;
}
h3 > * {
  margin: 0px;
  padding: 0px;
}
.header  {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
/*mainpage css ends*/
/*Uppgifter css start*/
.contentSwitch *  {
  color: navy;
  background: lightblue;


}
/*Uppgifter css end*/
