#blockGreen {
  Background-color:lime; 
  border: 2px solid grey;
  position: absolute ;
  left: 11em; 
  right: ; 
  top: 150px ; 
  bottom: 150px;
  width: 45px; 
  height: 10em;
  text-align: center;
  font-weight: bold;
}

#blockBlue {
  Background-color:Blue; 
  border: 2px solid grey;
  position: relative ;
  left: 200px; 
  right:  ; 
  top:  3em; 
  bottom: ;
  width: 105px; 
  height: 60px;
  text-align: center;
  font-weight: bold;
}

#blockGrey {
  Background-color:lightgrey; 
  border: 2px solid grey;
  position: relative;
  left: 125px; 
  right: ; 
  top: 25px ; 
  bottom: ;
  width: 7.3em; 
  height: 4em;
  text-align: center;
  font-weight: bold;
}

#blockPink {
  Background-color:pink; 
  border: 2px solid grey;
  position: relative;
  left: 70px ; 
  right:  ; 
  top: 122px ; 
  bottom:; 
  width: 65px; 
  height: 70px;
  text-align: center;
  font-weight: bold;
}

#blockLightPink {
  Background-color:white; 
  border: 2px solid grey;
  position: relative;
  left: 70px ; 
  right: ; 
  top:  ; 
  bottom: ;
  width: 75px; 
  height: 120px;
  text-align: center;
  font-weight: bold;
}
